version: '3.8'

volumes:
  data:
    name: glpi-data
  db:
    name: glpi-database

services:
# mariaDB Container
  db:
    image: ghcr.io/jr0w3/mariadb-tz-docker:latest
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql
    environment:
# It is strongly recommended to change these identifiers by other more secure ones.
# Don't forget to report them in the app service below.
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh", "--connect"]
      interval: 5s
      timeout: 5s
      retries: 3

#GLPI Container
  app:
    image: ghcr.io/jr0w3/docker-glpi:latest
    restart: always
    ports:
      - 80:80
    depends_on:
      db:
        condition: service_healthy
    links:
      - db
    volumes:
      - data:/app
    environment:
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_HOST: db
    healthcheck:
      test: ["CMD", "curl", "http://localhost", "-f"]
      interval: 5s
      timeout: 5s
      retries: 24
